/* ---------- CSS Variables Basics ---------- */

:root {
}

.text-primary {
}

.text-secondary {
}

.color-scheme-alt {
}

/* ---------- Color Theming ---------- */

.card-group {
  display: grid;
  gap: 1.5rem;

  padding: 0;
  margin: 0;
  list-style-type: none;
}

.card {
  border: 0.25rem solid #23272e;
  border-radius: 0.5em;
  transition: all 0.2s;
  box-shadow: 0 0.25rem 0.75rem #0004;

  /* Basic card styles */
  display: block;
  color: #000;
  background-color: #fff;
  text-decoration: none;
  overflow: hidden;
  width: 100%;

  &:where(:hover, :focus-visible) {
    box-shadow: 0 0.5rem 1.5rem #0004;
  }
}

.card__image {
  img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }
}

.card__title {
  transition: color 0.2s;
}

.card__content .btn {
}

.card--secondary {
}
